DJANGO_SECRET_KEY=
DJANGO_DEBUG=
DJANGO_ALLOWED_HOSTS=
API_PREFIX=

# Comma-separated list of agent health endpoints in format ip:port
AGENT_HEALTH_ADDRESSES=

DEFAULT_AGENT_HEALTH_PORT=

DB_NAME=your_db_name
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_HOST=localhost
DB_PORT=5432

# Discord alert bot credentials
DISCORD_BOT_TOKEN=your_bot_token_here
DISCORD_CHANNEL_ID=your_channel_id_here

# SSH credentials to access Docker containers
SSH_PASSWORD_NAMED=mypass
SSH_PASSWORD_FASTAPI=mypass
SSH_PASSWORD_NTP=mypass
SSH_PASSWORD_POSTFIX=mypass
