ENV_WEB = {
  "IP"          => "192.168.56.10", 
  "NETMASK"     => "255.255.255.0",
  "OS"          => "ubuntu/jammy64",  # or "net9/ubuntu-24.04-arm64" for MacOS
  "PROVIDER"    => "virtualbox",
  "VM_NAME"     => "vm-web-server",
  "VM_MEMORY"   => 1024,
  "VM_CPUS"     => 1
}
