ENV_DNS = {
  "IP"          => "192.168.56.10",
  "NETMASK"     => "255.255.255.0",
  "OS"          => "ubuntu/jammy64",  # or "net9/ubuntu-24.04-arm64" for MacOS, "utm/bookworm" for UTM VM
  "PROVIDER"    => "virtualbox", # or "utm"
  "VM_NAME"     => "vm-DNS-server", #Rename this if you run different server
  # "VM_ARCH"	=> "amd64", # optional, in case your box supports multiple archs
  "VM_MEMORY"   => 1024,
  "VM_CPUS"     => 1,
  "HOSTNAME"    => "DNSserver" #Rename this if you run different server
}

ENV_WEB = {
  "IP"          => "192.168.56.10",
  "NETMASK"     => "255.255.255.0",
  "OS"          => "ubuntu/jammy64",  # or "net9/ubuntu-24.04-arm64" for MacOS, "utm/bookworm" for UTM VM
  "PROVIDER"    => "virtualbox",
  "VM_NAME"     => "vm-WEB-server", #Rename this if you run different server
  # "VM_ARCH"	=> "amd64", # optional, in case your box supports multiple archs
  "VM_MEMORY"   => 1024,
  "VM_CPUS"     => 1,
  "HOSTNAME"    => "WEBserver", #Rename this if you run different server
  "PORT"        => 8000
}

ENV_NTP = {
  "IP"          => "192.168.56.10",
  "NETMASK"     => "255.255.255.0",
  "OS"          => "ubuntu/jammy64",  # or "net9/ubuntu-24.04-arm64" for MacOS, "utm/bookworm" for UTM VM
  "PROVIDER"    => "virtualbox",
  "VM_NAME"     => "vm-NTP-server", #Rename this if you run different server
  # "VM_ARCH"	=> "amd64", # optional, in case your box supports multiple archs
  "VM_MEMORY"   => 1024,
  "VM_CPUS"     => 1,
  "HOSTNAME"    => "NTPserver" #Rename this if you run different server
}

ENV_SMTP = {
  "IP"          => "192.168.56.10",
  "NETMASK"     => "255.255.255.0",
  "OS"          => "ubuntu/jammy64",  # or "net9/ubuntu-24.04-arm64" for MacOS, "utm/bookworm" for UTM VM
  "PROVIDER"    => "virtualbox",
  "VM_NAME"     => "vm-SMTP-server", #Rename this if you run different server
  # "VM_ARCH"	=> "amd64", # optional, in case your box supports multiple archs
  "VM_MEMORY"   => 1024,
  "VM_CPUS"     => 1,
  "HOSTNAME"    => "SMTPserver" #Rename this if you run different server
}
