body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: sans-serif;
  color: #222;
}

h1, h2, h3, h4, h5 {
  margin-top: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}
